Write a code to create a string with your name and print it.

In [1]:
name = "Deval Pathak"
print(name)

Deval Pathak

Write a code to find the length of the string "Hello World"

In [2]:
text = "Hello World"
print(len(text))

11

Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
text = "Python Programming"
print(text[:3])

Pyt

Write a code to convert the string "hello" to uppercase.

In [4]:
text = "hello"
print(text.upper())

HELLO

Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:
Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [9]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

 Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [1]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [2]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [3]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [4]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [5]:
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [9]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [10]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [11]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [12]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [13]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [14]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [23]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [22]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [21]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [20]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

 Write a code to create a list, a tuple, and a dictionary, and print them all.

In [19]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [18]:
import random

random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print(random_numbers)

[20, 46, 64, 82, 96]

 Write a code to create a list with strings and print the element at the third index.

In [17]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

Write a code to combine two dictionaries into one and print the result.

In [16]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Write a code to convert a list of strings into a set.

In [15]:
words = ["apple", "banana", "cherry", "apple"]
word_set = set(words)
print(word_set)

{'cherry', 'apple', 'banana'}